extends ../shared/template
//- adds the template for the links above the pages and the other data -//
block content
  
  h2 Add Item
    form(method='post', action='/items')
      input(name='name', type='text', placeholder='Item', autofocus=true)
      input(name='dimensions[l]', placeholder='length')
      input(name='dimensions[w]', placeholder='width')
      input(name='dimensions[h]', placeholder='height')
      input(name='weight', placeholder='weight')
      input(name='color', type='color', placeholder='color')
      input(name='quantity', type='number', placeholder='quantity')
      input(name='msrp', placeholder='MSRP')
      input(name='percentOff', placeholder='percentOff')
      button Add Item to Database
